.box-block-addcv {
    .boxheader {
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-size: 14px;
        line-height: 1.42857143;
        color: #333;
        -webkit-font-smoothing: antialiased!important;
        font-family: Inter,sans-serif;
        -webkit-box-sizing: border-box;
        margin: 0;
        padding: 0;
        align-items: center;
        display: flex;
        justify-content: space-between; /* Giữ khoảng cách giữa tiêu đề và nút */
        margin-bottom: 12px;
    
        .title {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased!important;
            -webkit-box-sizing: border-box;
            padding: 0;
            font-family: inherit;
            color: #000;
            font-size: 19px;
            font-weight: 700;
            line-height: 24px;
            margin: 0;
            flex-grow: 1; /* Giúp tiêu đề chiếm không gian còn lại */
            width: 80%;
        }
    
        .btn {
            -webkit-text-size-adjust: 100%;
            -webkit-tap-highlight-color: rgba(0,0,0,0);
            -webkit-font-smoothing: antialiased!important;
            margin: 0;
            text-decoration: none;
            margin-bottom: 0;
            font-size: 14px;
            text-align: center;
            touch-action: manipulation;
            cursor: pointer;
            user-select: none;
            border: 1px solid transparent;
            outline: none!important;
            font-weight: 700;
            background: #00b14f;
            border-radius: 32px;
            color: #fff;
            line-height: 1;
            padding: 8px 12px; /* Thay đổi padding để nút có kích thước phù hợp hơn */
            /* Bạn có thể điều chỉnh padding tùy thuộc vào độ lớn mong muốn */
            min-width: 80px; /* Đặt độ rộng tối thiểu cho nút để đảm bảo có kích thước phù hợp */
            text-align: center; /* Đảm bảo văn bản trong nút được căn giữa */
            width: 20%;
        }
    }    
}

