.menu-item {
    .box-item-parent {
        &:hover .name {
            color: var(--primary-color);
        }
    }
    .menu {
        a {
            color: #212f3f;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
            
            &:hover {
                color: #212f3f;
            }
        }
    }
}