.header-candidate{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    .text-candidate{
        display: flex;
        height: 50px;
        align-items: center;
        padding-left: 20px;
        padding-right: 20px;
        border-bottom: 1px solid #e8edf2;
    }
    .select-candidate{
        width: 100%;
        display: flex;
        .text-header-select-posting{
            display: flex;
            margin-left: auto;
            align-items: center;
        }

        .pa-header-select-posting{
            display: flex;
            align-items: center;
            background-color: white;
            flex: 1;
            margin-left: 10px;
            font-size: 16px;
            max-width: 210px;
            height: 45px;
            padding: 0px;
            .pa-filter-dropdown-status{
                background-color: white;
                width: 100%;
                height: 70%;
                border: 1px solid #28a745;
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                padding-left: 10%;
                padding-right: 10%;
                align-items: center;
                border-radius: 5px;
            }
            .pa-custom-dropdown-status{
                margin-top: 30px !important;
            }
        }
        .text-header-select-status{
            display: flex;
            margin-left: 10%;
            align-items: center;
        }
        .pa-header-select-status{
            display: flex;
            align-items: center;
            background-color: white;
            flex: 1;
            margin-right: 9%;
            margin-left: 10px;
            max-width: 210px;
            height: 45px;
            padding: 0px;
            .pa-filter-dropdown-status{
                background-color: white;
                width: 100%;
                height: 70%;
                border: 1px solid #28a745;
                display: flex;
                font-size: 14px;
                justify-content: space-between;
                padding-left: 10%;
                padding-right: 10%;
                align-items: center;
                border-radius: 5px;
            }
            .pa-custom-dropdown-status{
                margin-top: 30px !important;
            }
        }
    }
}
.custom-table-candidate {
    width: 90%;
    border-collapse: collapse;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    th,
    td {
        padding: 15px;
        text-align: left;
        font-size: 14px;
        border-bottom: 1px solid #ddd;
    }

    th {
        vertical-align: middle;
        background-color: white;
        font-weight: bold;
    }

    tbody tr:hover {
        background-color: #f9f9f9;
    }

    .candidate-info {
        display: flex;
        align-items: center;

        .cv-manage-image {
            margin-right: 10px;
        }

        .avatar {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .cv-manage-name {
            font-weight: 600;
        }
    }

    .cv-description {
        cursor: pointer;
        margin-bottom: 5px;
        font-style: italic;
        color: #555;
        &:hover {
            color: #28a745;
        }
    }
    .posting-title-appli {
        cursor: pointer;
        margin-bottom: 5px;
        font-style: italic;
        color: #555;
        &:hover {
            color: #28a745;
        }
    }

    .cv-update-time {
        font-size: 12px;
        color: #999;
    }

    .contact-info {
        font-size: 14px;
        color: #555;
    }

    td {
        vertical-align: top;
    }
}
.status-cv-appro {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #28a745;
    background-color: white;
    border-color: #28a745;
    color: #28a745;
}
.status-cv-reject {
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 14px;
    border: 1px solid #dc3545;
    background-color: white;
    border-color: #dc3545;
    color: #dc3545;
}
.status-button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;

    &.active {
        border: 1px solid #28a745;
        background-color: white;
        border-color: #28a745;
        color: #28a745;
    }

    &.deactive {
        border: 1px solid #dc3545;
        background-color: white;
        border-color: #dc3545;
        color: #dc3545;
    }

    &:hover {
        opacity: 0.8;
    }
}

.no-application-table{
    width: 90%;
    margin: 40px;
    border-collapse: collapse;
    padding: 20px;
    background-color: white;
    .no-pa-image-appli{
        text-align: center;
    }
    .no-pa-message-appli{
        font-family: "Inter", sans-serif;
        text-align: center;
        font-size: 14px;
    }
}
