.wrapper {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.item {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    color: #172530;
    font-size: 14px;
    font-weight: 500;

    &:hover {
        background-color: #f4f4f4;
    }

    &.selected {
        background-color: #e6f7ff;
        color: #00b14f;
    }

    .check-icon {
        color: #00b14f;
    }
}
