.profile-cv-container {
    display: flex;
    width: 80%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
    font-family: Inter,sans-serif;
    -webkit-box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    background-color: #f1f2f6;
    margin-top: 24px;
    padding-bottom: 0;
    gap: 30px;
    .box-block {
        flex: 3;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-size: 14px;
        background-color: white;
        line-height: 1.42857143;
        color: #333;
        -webkit-font-smoothing: antialiased;
        font-family: Inter,sans-serif;
        -webkit-box-sizing: border-box;
        position: relative;
        min-height: 1px;
        padding: 40px;
        float: left;
        border-radius: 10px;
    }
    .profileStyle {
        flex: 1;
        height: min-content;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        font-size: 14px;
        background-color: white;
        line-height: 1.42857143;
        color: #333;
        -webkit-font-smoothing: antialiased;
        font-family: Inter,sans-serif;
        -webkit-box-sizing: border-box;
        position: relative;
        min-height: 1px;
        padding-right: 45px;
        padding-left: 45px;
        float: left;
        border-radius: 10px;
    }
}

