.application-dialog {
    position: fixed;
    width: 45%;
    height: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-style: normal;
    border-radius: 8px;
    text-align: center;
    display: flex;
    gap: 8px;
    flex-direction: column; 

    .header-application-dialog {
        display: flex;
        gap: 8px;
        width: 100%;
        height: 64px;
        background-color: white;
        padding-top: 20px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        border-radius: 8px;
    }

    .form-application-dialog {
        flex-grow: 1;
        width: 100%;
        background-color: white;
        padding-top: 0px;
        padding-right: 28px;
        padding-bottom: 10px;
        padding-left: 32px;
        border-radius: 8px;
        overflow-y: auto;
        .application-tile-header{
            display: flex;
            gap: 8px;
            width: 100%;
            height: 24px;
        }
        .application_content {
            padding: 16px; 
            margin-top: 16px; 
            border: 1px solid #00b14f;
            border-radius: 6px;
        }
        .error-message-application-create {
            color: #dc2f2f;
            font-size: 14px;
            margin-top: 5px;
            text-align: left;
            display: block;
        }
        .application-message-appli{
            margin-top: 30px;
            display: flex;
            gap: 8px;
        }
        .application-message-title{
            margin-top: 10px;
            color:  #7f878f;
            text-align: left;
            display: flex;
            gap: 8px;
        }
        .appl-mess{
            padding-top: 12px;
            padding-right: 16px;
            padding-bottom: 12px;
            padding-left: 16px;
            margin-top: 10px;
            width: 100%;
            height: 92px;
            text-align: left;
            display: flex;
            gap: 8px;
            border-radius: 6px;
            border: 1px solid;
            min-height: 47px;
            resize: vertical;
            font-weight: 400;
            font-size: 16px;
            font-style: normal;
        }
        .text-left{
            border: 1px solid #e9eaec;
            border-radius: 6px;
            padding: 18px;
            margin-top: 10px;
            gap: 8px;
            .note-title{
                color: #d83324;
                font-size: 16px;
                text-align: left;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;

            }
            .note-content{
                color: #263a4d;
                font-size: 14px;
                text-align: left;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                .note-content__list{
                    display: block;
                    margin-block-start: 1em;
                    margin-block-end: 1em;
                    margin-inline-start: 0px;
                    margin-inline-end: 0px;
                    unicode-bidi: isolate;
                    .color-green {
                        color: #00b14f !important;
                    }
                }
            }
        }
    }

    .bottom-application-dialog {
        width: 100%;
        height: 72px;
        background-color: white;
        padding-top: 16px;
        padding-right: 32px;
        padding-bottom: 16px;
        padding-left: 32px;
        border-radius: 8px;
        margin-top: 20px;
    }
}
