.savedpost-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 30px;
    font-family: Inter, sans-serif;
    padding-top: 20px;

    
    .savedpost-data {
        flex: 3;
        background-color: white;
        border-radius: 10px;
        .savedpost-header{
            background: linear-gradient(90deg, #263238, #00b14f 105.53%);
            height: 180px;
            color: white;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 45px 14px;
        }
        .savedpost-count{
            font-size: 15px;
            padding: 16px;
        }
        .savedpost-list{
            padding: 20px 16px;
        }
    }

    .savedpost-profile {
        flex: 0.95;
        background-color: white;
        border-radius: 10px;
        height: fit-content;
    }
    .no-sp-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        text-align: center;
        .no-sp-image img {
            max-width: 100%;
            height: auto;
            padding-bottom: 30px;
        }

        .no-sp-title {
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 16px; 
        }
        .no-sp-button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .no-sp-button:hover {
            background-color: #28a746d4;
        }
    }
}
