.wizard-container{
    flex: 1;
    padding: 16px;
}

.progress-container {
    display: flex;
    max-width: 100%;
    padding: 10px 10px;
    margin: 0 auto;
    background-color: white;
}

.step-item {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.step-number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ccc;
    position: relative;
    z-index: 2;
}

.step-number.active {
    background-color: #00843d;
    border-color: #00843d;
    color: white;
}

.step-text {
    top: 40px;
    left: 50%;
    transform: translateX(3%);
    white-space: nowrap;
    color: #666;
    font-size: 14px;
}

.step-text.active {
    color: #00843d;
    font-weight: bold;
}

.step-line {
    flex: 1;
    height: 2px;
    background-color: #ccc;
    margin: 0 10px;
}

.step-line.active {
    background-color: #00843d;
}

.content-container {
    justify-content: center;
    display: flex;
}

.content-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content-area {
    margin-bottom: 10px;
    min-height: 300px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.nav-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #00843d;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.nav-button:hover {
    background-color: #006830;
}

.nav-button.disabled {
    background-color: #ccc;
    color: black;
    cursor: not-allowed;
}

.form-group {
    margin-bottom: 20px;
}

.form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 5px;
}

textarea.form-input {
    resize: vertical;
}

.step-content h2 {
    margin-top: 0;
    color: #333;
    margin-bottom: 20px;
}
