.wrapper {
    height: var(--header-height);
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.inner {
    height: 100%;
    margin: 0 24px;
    display: flex;
    align-items: center;
}

.logo {
    height: 100%;
    cursor: pointer;
}

.nav-bar {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    height: 100%;
    margin: auto 16px;
    display: flex;
    justify-content: space-between;
}

.nav-list__item {
    list-style: none;
    padding: 0 12px;
    align-content: center;
    color: #212f3f;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.nav-list__item a.active {
    color: var(--primary-color);
}

.nav-list__item:hover {
    cursor: pointer;

    a {
        color: var(--primary-color);
    }
}
.nav-list__itemcv {
    list-style: none;
    padding: 0 12px;
    align-content: center;
}
.nav-list__itemcv a {
    color: #212f3f;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.notification-icon {
    margin-right: 16px;
}

.actions {
    display: flex;
    align-items: center;
    gap: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section {
    text-align: center;
    margin: 20px;
    img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    }
}
