.wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.filter {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    gap: 8px;
}

@media (max-width: 1200px) {
    .filter {
        grid-template-columns: 5fr 2fr 2fr;
    }
}

@media (max-width: 768px) {
    .filter {
        grid-template-columns: 1fr;
    }
}
