.cv-review {
    width: 790px; // Đặt chiều rộng của div là 80%
    background-color: rgb(255, 255, 255); // Màu nền cho div
    padding: 20px; // Padding cho div
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); // Bóng đổ cho div
    border-radius: 8px; // Bo góc cho div
    margin-left: 320px; 
    height: auto;

    .header{
        font: 125%/1.4 Inter,sans-serif;
        box-sizing: inherit;
        height: 330px;
        display: flex;
        .left_header{
            color: #222;
            font: 125%/1.4 Inter,sans-serif;
            box-sizing: inherit;
            flex: 1;
            .img-cv{
                margin-left: 10px;
            }
        }
        .right_header{
            font: 125%/1.4 Inter,sans-serif;
            box-sizing: inherit;
            flex: 1;
            color: rgb(47, 9, 240);
            font-size: 30px;
            .top-name{
                height: 260px;
            }
            
        }
    }

    .body-cv-1{
        box-sizing: inherit;
        display: flex;
        height: 190px;
        .left-body{
            box-sizing: inherit;
            flex: 1;
            width: 50%;
            background-color: rgb(33, 47, 63);
            color: rgb(255, 255, 255);
            .cv-mo-ta{
                margin-top: 10px;
                text-decoration: underline;
            }
        }
        .right-body{
            box-sizing: inherit;
            flex: 1;
            width: 50%;
            margin-left: 20px;
            .ql-editor{
                margin-top: 10px;
            }
        }
    }
    .body-cv-2{
        box-sizing: inherit;
        display: flex;
        height: 120px;
        margin-top: 10px;
        .body-cv-left{
            box-sizing: inherit;
            flex: 1;
            width: 50%;
        }
        .body-cv-right{
            box-sizing: inherit;
            flex: 1;
            width: 50%;
            margin-left: 20px;
        }
        
    }
    .cv-text{
        margin-left: 10px;
        margin-top: 10px;
        text-decoration: underline;
    }
    
    .cv-data{
        font-size: 20px;
        margin-top: 20px;
    }
}




