.box-bg {
    background-color: white; 
    border: 2px solid #ddd; 
    border-radius: 8px; 
    padding: 16px; 
    margin-bottom: 10px;

    .box-info {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    }

    .description-cv {
        font-size: 1.2rem;
        color: #000000;
        margin: 0;
        position: relative;

        a {
            text-decoration: none;
            color: inherit;
            &:hover {
                color: #28a745;
            }
        }
    }

    .action {
        list-style: none;
        min-width: 244px;
        padding: 0;
        display: flex;
        gap: 10px;
    }
}
.confirm-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    border-radius: 8px;
    text-align: center;
}

.confirm-button, .cancel-button, .del-button, .edit-button {
    margin: 10px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 4px;
    cursor: pointer;
    
}

.confirm-button {
    min-width: 119px;
    border-color:  #28a745;
    background-color: #28a745;
    color: white;
    &:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
}

.edit-button {
    border-color:  #28a745;
    background-color: #28a745;
    color: white;
    &:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
}

.cancel-button {
    border-color:  #EAEAEA;
    background-color: #EAEAEA;
    color: #000000;
    &:hover {
        background-color: #d2d6d3;
        border-color: #d2d6d3;
    }
}

.del-button {
    color: #ffffff;
    background-color: #b44848;
    border-color: #b44848;
    &:hover {
        color: #ffffff;
        background-color: #7e2e2e;
        border-color: #7e2e2e;
    }
}


