.wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    gap: 5px;
}

.pagination-button {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.pagination-button:hover:not(.active):not([disabled]) {
    background-color: #f2fbf6;
}

.pagination-button.active {
    background-color: #00b14f;
    color: white;
    border: 1px solid #00b14f;
}

.pagination-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.index-label {
    font-size: 14px;
}
