.cv-review {
    width: 790px; // Chiều rộng của div chính
    background-color: white; // Màu nền
    padding: 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    margin-left: auto; 
    margin-right: auto;
    height: auto;

    .header{
        font: 125%/1.4 Inter,sans-serif;
        box-sizing: inherit;
        min-height: 330px;
        height: auto;
        display: flex;
        .left_header{
            color: #222;
            font: 125%/1.4 Inter,sans-serif;
            box-sizing: inherit;
            flex: 1;
            display: flex;
            justify-content: center; 
            align-items: center; 

            .img-cv-1 {
                max-width: 85%;     
                max-height: 85%;
                object-fit: cover;
            }
        }
        .right_header{
            font: 125%/1.4 Inter,sans-serif;
            box-sizing: inherit;
            flex: 1;
            color: #00C056;
            font-size: 30px;
            .top-name{
                height: 260px;
            }
            
        }
    }

    .body-cv-1, .body-cv-2 {
        display: flex;
        flex-wrap: wrap; /* Đảm bảo các khối tự điều chỉnh xuống dòng */
        gap: 20px; /* Khoảng cách giữa các khối */
        margin-top: 10px;
        height: auto;
        margin-bottom: 15px;

        .left-body, .body-cv-left, .right-body, .body-cv-right {
            flex: 1 1 calc(50% - 20px); /* Mỗi khối chiếm 50% chiều rộng trừ khoảng cách */
            display: flex;
            flex-direction: column;
        }

        .cv-mo-ta, .cv-text {
            // margin-bottom: 10px;
            text-decoration: underline;
        }

        .input-mota, .input-cv {
            width: 100%;
            height: auto; /* Tự điều chỉnh chiều cao */
            min-height: 80px; /* Chiều cao tối thiểu */
            font-size: 18px;
            resize: vertical; /* Chỉ cho phép thay đổi chiều cao */
            background-color: white;
            color: #000;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: auto; /* Hiển thị scroll nếu nội dung vượt quá */
        }
        .input-mota{
            min-height: 120px;
        }
    }
}

.btn-submit {
    margin: 20px auto 10px; /* Căn giữa nút lưu */
    display: block;
    color: #fff;
    background-color: #00C056;
    border-color: #00C056;
    padding: 12px 20px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    &:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }
}

.title-edit{
    text-align: center;
    margin: 20px auto 10px;
    color: #00C056;
}